# DTL.01: Entscheidungsb√§ume mit CAL3 und ID3

Es ist wieder Wahlkampf: Zwei Kandidaten O und M bewerben sich um die Kanzlerschaft. Die folgende Tabelle zeigt die Pr√§ferenzen von sieben W√§hlern.
|Nr.  |	Alter |	Einkommen |	Bildung |	Kandidat |
|-----|-------|-----------|---------|------------|
|1 |	‚â• 35 |	hoch | 	Abitur| 	O |
|2 	|< 35 |	niedrig |	Master |	O|
|3 	|‚â• 35 |	hoch |	Bachelor 	|M|
|4 	|‚â• 35 |	niedrig |	Abitur 	|M|
|5 	|‚â• 35 |	hoch |	Master 	 |O|
|6 	|< 35 |	hoch |	Bachelor 	|O|
|7 	|< 35 |	niedrig |	Abitur 	|M|

Trainieren Sie nacheinander mit den Verfahren CAL3 (3P) und ID3 (3P) auf der obigen Trainingsmenge je einen Entscheidungsbaum. Nutzen Sie f√ºr CAL3 dabei die Schwellen S 1 = 4 und S 2 = 0.7 .


| Nr. | Alter | Einkommen | Bildung | Kanditat |
| --- | ----- | --------- | ------- | -------- |
| 1   | 1     | 1         | 0       | O        |
| 2   | 0     | 0         | 2       | O        |
| 3   | 1     | 1         | 1       | M        |
| 4   | 1     | 0         | 0       | M        |
| 5   | 1     | 1         | 2       | O        |
| 6   | 0     | 1         | 1       | O        |
| 7   | 0     | 0         | 0       | M        |

## Handsimulation CAL3

| Nr. | Baum |
|-----|------|
|  x  |  *   |
|  1  |  /O1/ | 
|  2  |  /O2/ |
|  3  |  /O2M1/ | 
|  4  |  /O2M2/ | 
|  x  | Alter(*, /M1/) | 
|  5  | Alter(*, /O1M1/) | 
|  6  | Alter(/O1/, /O1M1/) | 
|  7  | Alter(/O1M1/, /O1M1/) | 
|  1  | Alter(/O1M1/, /O2M1/) | 
|  2  | Alter(/O2M1/, /O2M1/) | 
|  3  | Alter(/O2M1/, /O2M2/) | 
|  x  | Alter(/O2M1/, Einkommen(*, /M1/)) |
|  4  | Alter(/O2M1/, Einkommen(/M1/, /M1/)) |
|  5  | Alter(/O2M1/, Einkommen(/M1/, /O1M1/)) |
|  6  | Alter(/O3M1/, Einkommen(/M1/, /O1M1/)) |
|  x  | Alter(O, Einkommen(/M1/, /O1M1/)) |
|  1  | Alter(O, Einkommen(/M1/, /O2M1/)) |
|  3  | Alter(O, Einkommen(/M1/, /O2M2/)) | 
|  x  | Alter(O, Einkommen(/M1/, Bildung(*, /M1/, *))) | 
|  4  | Alter(O, Einkommen(/M2/, Bildung(*, /M1/, *))) |
|  5  | Alter(O, Einkommen(/M2/, Bildung(*, /M1/, /O1/ ))) |
|  1  | Alter(O, Einkommen(/M2/, Bildung(/O1/, /M1/, /O1/ ))) |
|  3  | Alter(O, Einkommen(/M2/, Bildung(/O1/, /M2/, /O1/ ))) |
|  4  | Alter(O, Einkommen(/M3/, Bildung(/O1/, /M2/, /O1/ ))) |
|  5  | Alter(O, Einkommen(/M3/, Bildung(/O1/, /M2/, /O2/ ))) |
|  1  | Alter(O, Einkommen(/M3/, Bildung(/O2/, /M2/, /O2/ ))) |
|  3  | Alter(O, Einkommen(/M3/, Bildung(/O2/, /M3/, /O2/ ))) |
|  4  | Alter(O, Einkommen(/M4/, Bildung(/O2/, /M3/, /O2/ ))) |
|  x  | Alter(O, Einkommen(M, Bildung(/O2/, /M3/, /O2/ ))) |
|  5  | Alter(O, Einkommen(M, Bildung(/O2/, /M3/, /O3/ ))) |
|  1  | Alter(O, Einkommen(M, Bildung(/O3/, /M3/, /O3/ ))) |
|  3  | Alter(O, Einkommen(M, Bildung(/O3/, /M4/, /O3/ ))) |
|  x  | Alter(O, Einkommen(M, Bildung(/O3/, M, /O3/ ))) |
|  5  | Alter(O, Einkommen(M, Bildung(/O3/, M, /O4/ ))) |
|  x  | Alter(O, Einkommen(M, Bildung(/O3/, M, O ))) |
|  1  | Alter(O, Einkommen(M, Bildung(/O4/, M, O ))) |
|  x  | Alter(O, Einkommen(M, Bildung(O, M, O ))) |

## Handsimulation ID3 üöó

1. Informationsgewinn f√ºr alle Attribute berechnen 

Attribute: Alter, Einkommen, Bildung 

Entropie H(S) = relative H√§ufigkeit der Klassen z√§hlen

Wie "z√§hle" ich relative H√§ufigkeit, Carsten? 

Anderes Zitat: "Ich nehme die H√§ufigkeit der Klassen und stecke das in diese Entropieformel" 

Wo Entropieformel? 

$H(S) = - (3/7* log_2(3/7) + 4/7 * log_2(4/7)) = 0.9852281360343 Bit$

### Gain
Keine Lust den Gain so oft zu berechnen, deswegen mache ich ein bisschen Python

In [1]:
import math 

S_1 = ["O", "O", "M", "M", "O", "O", "M"]

def entropy(S: list):
    result = 0
    for i in set(S):
        p = S.count(i) / len(S)
        result += p*math.log(p,2)
    return -1*result

In [2]:
entropy(S_1)

0.9852281360342516

In [3]:
def gain(S: list, A: list):
    result = 0
    for i in set(A):
        ind = [j for j, val in enumerate(A) if val==i]
        S_v = [S[j] for j in ind]
        result += (len(S_v) / len(S)) * entropy(S_v)
    return (entropy(S) - result)

In [4]:
S_kontrolle = ["A", "A", "A", "B", "B", "A"]
a_x1_kontrolle = [0,1,0,1,0,0]
print(entropy(S_kontrolle))
print(gain(S_kontrolle, a_x1_kontrolle))

0.9182958340544896
0.044110417748401076

Kontrolle bestanden

## Gain von Alter, Einkommen, Bildung

In [5]:
S = ["O", "O", "M", "M", "O", "O", "M"]
Alter = [1,0,1,1,1,0,0]
Einkommen = [1,0,1,0,1,1,0]
Bildung = [0,2,1,0,2,1,0]

In [6]:
gain(S, Alter)

0.02024420715375619

In [7]:
gain(S, Einkommen)

0.12808527889139454

In [8]:
gain(S, Bildung)

0.3059584928680419

## Auswahl von geeignetem Attribut
Bildung hat den gr√∂√üten Gain von den Drei Attributen und ist somit das Informationsreichste. "Es spaltet am besten" 

| Schritt | Baum |
|---------|------| 
|   1     | Bildung({1,4,7},{3,6},{2,5}) |

In [9]:
# Gain berechnen von 1,4,7 mit Attributen Einkommen und Alter
select = [0,3,6]
S_bildung_0 = [S[i] for i in range(len(S)) if i in select]
Alter_bildung_0 = [Alter[i] for i in range(len(Alter)) if i in select]
Einkommen_bildung_0 = [Einkommen[i] for i in range(len(Einkommen)) if i in select]
print(S_bildung_0, Alter_bildung_0, Einkommen_bildung_0)
print(gain(S_bildung_0, Alter_bildung_0))
print(gain(S_bildung_0, Einkommen_bildung_0))

['O', 'M', 'M'] [1, 1, 0] [1, 0, 0]
0.2516291673878229
0.9182958340544896

Einkommen hat den gr√∂√üeren Gain

| Schritt | Baum | 
|---------|------| 
|    2    | Bildung(Einkommen({4,7}, {1}), {3,6}, {2,5}) |
|    3    | Bildung(Einkommen(M, {1}), {3,6}, {2,5}) |
|    4    | Bildung(Einkommen(M, O), {3,6}, {2,5}) |

In [10]:
# Gain berechnen von 3,6 mit Attributen Einkommen und Alter 
select = [2,5]
S_bildung_1 = [S[i] for i in range(len(S)) if i in select]
Alter_bildung_1 = [Alter[i] for i in range(len(Alter)) if i in select]
Einkommen_bildung_1 = [Einkommen[i] for i in range(len(Einkommen)) if i in select]
print(S_bildung_1, Alter_bildung_1, Einkommen_bildung_1)
print(gain(S_bildung_1, Alter_bildung_1))
print(gain(S_bildung_1, Einkommen_bildung_1))

['M', 'O'] [1, 0] [1, 1]
1.0
0.0

Alter hat den gr√∂√üeren Gain 

| Schritt | Baum | 
|---------|------|
|    5    | Bildung(Einkommen(M,O), Alter({6}, {3}), {2,5}) |
|    6    | Bildung(Einkommen(M,O), Alter(O, {3}), {2,5}) |
|    7    | Bildung(Einkommen(M,O), Alter(O, M), {2,5}) | 
|    8    | Bildung(Einkommen(M,O), Alter(O, M), O) | 

Endergebnis : Bildung(Einkommen(M,O), Alter(O, M), O)

## DTL.02 Pruning 

Vereinfachen Sie schrittweise den Baum
$$x_3(x_2(x_1(C,A), x_1(B,A)), x_1(x_2(C,B), A))$$
so weit wie m√∂glich.

Nutzen Sie die linearisierte Schreibweise. Geben Sie die jeweils
verwendete Regel an.

| Baum | verwendete Regel | 
|------|------------------|
|$$x_3(x_2(x_1(C,A), x_1(B,A)), x_1(x_2(C,B), A))$$ |   | 
|$$x_3(x_1(x_2(C,B), x_2(A,A)), x_1(x_2(C,B), A))$$ | Allgemeine Transformationsregel | 
|$$x_3(x_1(x_2(C,B), A), x_1(x_2(C,B), A))$$ | | 
|$$x_1(x_2(C,B), A)$$ | Bedingt irrelevante Attribute |

## DTL.03: Machine Learning mit Weka

## Zoo Datensatz 
![Zoo_baum_J48.png](Zoo_baum_J48.png)

Fehlerrate: Incorrectly Classified Instances         1                0.9901 %

```
=== Confusion Matrix ===

  a  b  c  d  e  f  g   <-- classified as
 41  0  0  0  0  0  0 |  a = mammal
  0 13  0  0  0  0  0 |  b = fish
  0  0 20  0  0  0  0 |  c = bird
  0  0  0 10  0  0  0 |  d = shellfish
  0  0  0  0  8  0  0 |  e = insect
  0  0  0  0  0  3  1 |  f = amphibian
  0  0  0  0  0  0  5 |  g = reptile
```

## Restaurant Datensatz
![restaurant_baum_J48.png](restaurant_baum_J48.png)

Fehlerrate: Incorrectly Classified Instances         2               16.6667 %

```
=== Confusion Matrix ===

 a b   <-- classified as
 4 2 | a = Yes
 0 6 | b = No
```

Lernen Sie f√ºr die beiden Datens√§tze je einen Entscheidungsbaum. Wie sehen die B√§ume aus? Wie hoch ist jeweils die Fehlerrate f√ºr den Trainingssatz? (Stellen Sie unter ‚ÄúTest options‚Äù den Haken auf ‚ÄúUse training set‚Äù.) Interpretieren Sie die Confusion Matrix.

Die Konfusion Matrix sagt aus als was ein Datensatz laut Entscheidungsbaum Klassifiziert wurde und was eigentlich die richtige Entscheidung gewesen w√§re. 

So wurde beim Restaurant 2 Mal F√§lschlicherweise ein "Ja" als "Nein" Klassifiziert. Und beim Zoo Datensatz wurde eine Amphibie als Reptil klassifiziert.

## 2. ARFF Format

Numeric Attribute: 
- K√∂nnen reele Zahlen oder integer sein 

Nominal Attribute: 
- Sind eine Liste an m√∂glichen Werten. Bei Leerzeichen muss der Wert in Anf√ºhrungszeichen stehen

String Attribute: 
- Text Werte 

Die Unterschiede zwischen den Attributtypen liegt in den Werten, die diese Attribute annehmen k√∂nnen. Nominal und Strin Attribute sind sich sehr √§hnlich, allerdings k√∂nnen bei weiterer Verarbeitung auf nominal Attribute keine String Operationen angewendet werden.

## 3. Training mit ID3 und J48 

Wenn ich die Daten mit ID3 trainiere darf ich keinen Entscheidungsbaum damit generieren lassen

### Zoo ID3 ARFF
Incorrectly Classified Instances         0                0      %

```
Baum: 
animalName = aardvark: mammal
animalName = antelope: mammal
animalName = bass: fish
animalName = bear: mammal
animalName = boar: mammal
animalName = buffalo: mammal
animalName = calf: mammal
animalName = carp: fish
animalName = catfish: fish
animalName = cavy: mammal
animalName = cheetah: mammal
animalName = chicken: bird
animalName = chub: fish
animalName = clam: shellfish
animalName = crab: shellfish
animalName = crayfish: shellfish
animalName = crow: bird
animalName = deer: mammal
animalName = dogfish: fish
animalName = dolphin: mammal
animalName = dove: bird
animalName = duck: bird
animalName = elephant: mammal
animalName = flamingo: bird
animalName = flea: insect
animalName = frog: amphibian
animalName = fruitbat: mammal
animalName = giraffe: mammal
animalName = girl: mammal
animalName = gnat: insect
animalName = goat: mammal
animalName = gorilla: mammal
animalName = gull: bird
animalName = haddock: fish
animalName = hamster: mammal
animalName = hare: mammal
animalName = hawk: bird
animalName = herring: fish
animalName = honeybee: insect
animalName = housefly: insect
animalName = kiwi: bird
animalName = ladybird: insect
animalName = lark: bird
animalName = leopard: mammal
animalName = lion: mammal
animalName = lobster: shellfish
animalName = lynx: mammal
animalName = mink: mammal
animalName = mole: mammal
animalName = mongoose: mammal
animalName = moth: insect
animalName = newt: amphibian
animalName = octopus: shellfish
animalName = opossum: mammal
animalName = oryx: mammal
animalName = ostrich: bird
animalName = parakeet: bird
animalName = penguin: bird
animalName = pheasant: bird
animalName = pike: fish
animalName = piranha: fish
animalName = pitviper: reptile
animalName = platypus: mammal
animalName = polecat: mammal
animalName = pony: mammal
animalName = porpoise: mammal
animalName = puma: mammal
animalName = pussycat: mammal
animalName = raccoon: mammal
animalName = reindeer: mammal
animalName = rhea: bird
animalName = scorpion: shellfish
animalName = seahorse: fish
animalName = seal: mammal
animalName = sealion: mammal
animalName = seasnake: reptile
animalName = seawasp: shellfish
animalName = skimmer: bird
animalName = skua: bird
animalName = slowworm: reptile
animalName = slug: shellfish
animalName = sole: fish
animalName = sparrow: bird
animalName = squirrel: mammal
animalName = starfish: shellfish
animalName = stingray: fish
animalName = swan: bird
animalName = termite: insect
animalName = toad: amphibian
animalName = tortoise: reptile
animalName = tuatara: reptile
animalName = tuna: fish
animalName = vampire: mammal
animalName = vole: mammal
animalName = vulture: bird
animalName = wallaby: mammal
animalName = wasp: insect
animalName = wolf: mammal
animalName = worm: shellfish
animalName = wren: bird
```

```
=== Confusion Matrix ===

  a  b  c  d  e  f  g   <-- classified as
 41  0  0  0  0  0  0 |  a = mammal
  0 13  0  0  0  0  0 |  b = fish
  0  0 20  0  0  0  0 |  c = bird
  0  0  0 10  0  0  0 |  d = shellfish
  0  0  0  0  8  0  0 |  e = insect
  0  0  0  0  0  4  0 |  f = amphibian
  0  0  0  0  0  0  5 |  g = reptile
```

### Restaurant ID3 ARFF

```
Baum: 
Pat = Some: Yes
Pat = Full
|  Type = French: No
|  Type = Thai
|  |  Fri = No: No
|  |  Fri = Yes: Yes
|  Type = Burger
|  |  Alt = Yes: Yes
|  |  Alt = No: No
|  Type = Italian: No
Pat = None: No
```

```
=== Confusion Matrix ===

 a b   <-- classified as
 6 0 | a = Yes
 0 6 | b = No
```

### Restaurant J48 ARFF

![](restaurant_baum_J48_arff.png)

Incorrectly Classified Instances         2               16.6667 %

```
=== Confusion Matrix ===

 a b   <-- classified as
 4 2 | a = Yes
 0 6 | b = No
```

### Zoo J48 ARFF

![](Zoo_baum_J48_arff.png)

Incorrectly Classified Instances         1                0.9901 %

```
=== Confusion Matrix ===

  a  b  c  d  e  f  g   <-- classified as
 41  0  0  0  0  0  0 |  a = mammal
  0 13  0  0  0  0  0 |  b = fish
  0  0 20  0  0  0  0 |  c = bird
  0  0  0 10  0  0  0 |  d = shellfish
  0  0  0  0  8  0  0 |  e = insect
  0  0  0  0  0  3  1 |  f = amphibian
  0  0  0  0  0  0  5 |  g = reptile
```

### Vergleich 
Die J48 B√§ume mit den .csv Dateien und den arff Dateien sehen absolut gleich aus. Au√üer der Baum beim Zoo Datensatz. Das ist aber dem Punkt geschuldet, dass die Zahlenwerte jetzt als Nominal Werte Interpretiert werden und er somit nicht die Unterscheidung zwischen >2 und <= 2 machen kann, sondern all Werte nimmt. 

Der ID3 Algorithmus beim Zoo Datensatz hat sich ganz Schlau gef√ºhlt und hat einfach nur den Namen des Tieres dem Typen zugeordnet. Schlingel.

Der ID3 Algorithmus beim Restaurant Datensatz hat eine n√∂tige Aufsplittung bei Pat=Full vorgenommen.